Text Analysis (Gemini) - with mode selection.json
{
  "name": "Text Analysis (Gemini) - with mode selection",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "text-analysis",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a5e7a9e7-67e1-4825-9cd5-1657638413dd",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -112,
        0
      ],
      "webhookId": "0d757ddb-719b-4438-b869-07049765287c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6iXI1P5staQXmpL5",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json[\"gemini_url\"]}}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"Perform a {{ $('Webhook1').item.json.body.mode }} of the following text:\\n {{ $('Webhook1').item.json.body.text_to_analyze }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "5f52ef53-603e-4040-9817-cd1d69fe36b0",
      "name": "HTTP Request (Gemini)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        272,
        0
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "final_result",
              "value": "={{ $json[\"candidates\"]?.[0]?.content?.parts?.[0]?.text || $json[\"outputText\"] || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5702d17e-82c0-4354-b9c7-607e31a7419b",
      "name": "Set Final Result1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        464,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4bb6aa18-023e-4e72-a3dd-cc88f33790cb",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  gemini_url: `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=${$env.GEMINI_API_KEY}`\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "id": "40495c35-35fd-47d1-af8c-97f0407d8e3e",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Gemini)1": {
      "main": [
        [
          {
            "node": "Set Final Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Final Result1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request (Gemini)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45b16630-47b8-4014-a30b-5a2aaf3150b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f44905bbf5a3db52206bd83720327cc91678e8679c7b5751cc456c2fce3ce1b"
  },
  "id": "cgPkHoosudEhjOEE",
  "tags": []
}
